<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="../assets/stylesheets/bootstrap.min.css"></link>
</head>
<body>
  <div class="container">

    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <%= yield %>
  </div>
</body>
</html>
